<nav class="nav-bar">
    <ul class="nav-bar__list">
      <li class="nav-bar__list--item" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}"><a routerLink="">Home</a></li>
      <li class="nav-bar__list--item" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/todos">Todos</a></li>
      <li class="nav-bar__list--non-item searchbar"> 
        <input [todoMenu]="menuTemplate" placeholder="Search..." #input/>
          <todo-menu (selectedValue)="logValue($event)" #menuTemplate>
            <todo-menu-option value="dog">Dog</todo-menu-option>
            <todo-menu-option value="cat">Cat</todo-menu-option>
            <todo-menu-option value="pig">Pig</todo-menu-option>
          </todo-menu>
      </li>
      <li class="nav-bar__list--item"
      [routerLinkActiveOptions]="{exact:true}" 
      routerLinkActive="selected" 
      *ngIf="!(userData$ | async); else userInfo">
        <a routerLink="/login">Login</a>
      </li>
      <ng-template #userInfo>
      <li class="nav-bar__list--non-item logout">
          <button (click)="logout()">Logout</button>
      </li>
    </ng-template>
    </ul>
  </nav>