$primary-color: var(--primary-color);
$primary-text: var(--primary-text-color);
$primary-text-active: var(--primary-text-color-active);


:host{
    display: block;
}

.nav-bar{
    width: 100%;
    background: $primary-color;
    color: $primary-text;
    margin: none;
    padding: 10px 5px 10px 5px;
    font-size: 2rem;
    &__list{
       display: flex;
       align-items: center;
       list-style: none;
       padding: 0;
       margin: 0;
       .logout{
           display: flex;
           flex-direction: column;
           align-items: center;

           button {
            background: none!important;
            border: none;
            padding: 0!important;
            font-family: inherit;
            color: var(--primary-text-color);
            text-decoration: none;
            cursor: pointer;
    
            &:focus{
                outline: none;
            }
          }
       }
       &--non-item{

        &:last-child{
            margin-left: auto;
        }
       }
       &--item{
        transition: all .2s;
        &:not(.selected){
            &:after{
                content: '';
                width: 0px;
                height: 2px;
                background-color: $primary-text;
                display: block;
                transition: all .2s;
            }
            &:hover{
                &:after{
                    width: 100%;
                }
            }
        }
        

        :link{
            color: $primary-text;
            text-decoration: none;
        }
        :visited{
            color: $primary-text;
            text-decoration: none;
        }

        :active{
            color: $primary-text-active;
        }

        &:not(:last-child){
            margin-right: 4rem;
        }

        &:last-child{
            margin-left: auto;
        }

        &.selected{
            border-bottom: 2px solid $primary-text;
        }
       }
    }

    .searchbar{
        margin-left: auto;
        width: 50%;
        display: inline-block;
        position: relative;
        input{
            width: 80%;
            margin:0;
            border:0;
            padding: 1rem;
            display:inline-block;
            vertical-align:middle;
            white-space:normal;
            background:none;
            line-height:1;
            font-family: inherit;
            font-size: 12px;
            transition: all .2s;
            cursor: pointer;
            color: white;
            border-bottom: 1px solid $primary-text-active;
            &::placeholder{
                color: $primary-text-active;
            }

            &:hover{
                background: rgba(255, 255, 255, 0.2);
                border-radius: 6px;
            }

            &:focus{
                outline: none;
                color: black;
                background: white;
                border-radius: 6px 6px 0 0;
                &::placeholder{
                    color: black;
                }
            }
        }
    }
}