$primary-color: var(--primary-color);
$primary-text: var(--primary-text-color);
$primary-text-active: var(--primary-text-color-active);


:host{
    display: block;
}

.nav-bar{
    width: 100%;
    background: $primary-color;
    color: $primary-text;
    margin: none;
    padding: 10px 5px 10px 5px;
    font-size: 2rem;
    &__list{
       display: flex;
       align-items: center;
       list-style: none;
       padding: 0;
       margin: 0;
       .logout{
           display: flex;
           flex-direction: column;
           align-items: center;

           button {
            background: none!important;
            border: none;
            padding: 0!important;
            font-family: inherit;
            color: var(--primary-text-color);
            text-decoration: none;
            cursor: pointer;
    
            &:focus{
                outline: none;
            }
          }
       }
       &--non-item{

        &:last-child{
            margin-left: auto;
        }
       }
       &--item{
        transition: all .2s;
        &:not(.selected){
            &:after{
                content: '';
                width: 0px;
                height: 2px;
                background-color: $primary-text;
                display: block;
                transition: all .2s;
            }
            &:hover{
                &:after{
                    width: 100%;
                }
            }
        }
        

        :link{
            color: $primary-text;
            text-decoration: none;
        }
        :visited{
            color: $primary-text;
            text-decoration: none;
        }

        :active{
            color: $primary-text-active;
        }

        &:not(:last-child){
            margin-right: 4rem;
        }

        &:last-child{
            margin-left: auto;
        }

        &.selected{
            border-bottom: 2px solid $primary-text;
        }
       }
    }
}