/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/common";
@import '~@angular/cdk/overlay-prebuilt.css';
:root {
    --primary-color: #e74c3c;
    --secondary-color: #ecf0f1;
    --primary-text-color: #ecf0f1;
    --primary-text-color-active: #ffffff;
    --secondary-text-color: #e74c3c;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    height: 100%;
}

body {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

::selection {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}