
<h1>Register for an account</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <todo-form-control>
        <input type="text" formControlName="firstName" placeholder="First Name">
    </todo-form-control>
    <todo-form-control>
            <input type="text" formControlName="lastName" placeholder="Last Name">
    </todo-form-control>
    <todo-form-control>
        <input type="text" formControlName="userName" placeholder="Username">
    </todo-form-control>
    <todo-form-control>
        <input type="password" formControlName="password" placeholder="Password">
    </todo-form-control>
    <button todo-button>Register</button>
</form>
<div>Already registered? <button todo-link-button (click)="emitLoginRequested()">Login</button></div>